@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#welcomeimage{
    width:100%;
    height:auto;
    max-width:600px;
    margin: 20px auto;
    display: block;
}



main {
    flex: 1;
    padding: 15px;
    background-color: #ffffff;
}

header {
    background-color: #ff4d4d;
    padding: 20px 0;
    text-align: center;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    background-color: #ff6666;
    display: flex;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: bold;
    background-color: #ff4d4d;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
   
}

nav a:hover {
    background-color: #cc0000;
    
}

section{
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #e63946;
    margin-bottom: 20px;
    border-bottom: 3px solid #ff6666;
    padding-bottom: 5px;
    font-size: 26px;
}

section p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
}

form {
    margin-top: 20px;
}

form label {
    display:block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input, form textarea, form select{
    font-size: 14px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

form button {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #e63946;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: auto;
}

form button::hover {
    background: color #b71c1c;
}

#calorieIntake,#addFood {
    margin-top: 20px;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
}

progress::-webkit-progress-bar{
    background-color: #f1f1f1;
    border-radius: 5px;
}

progress::-webkit-progress-bar-value{
    background-color: #ff4d4d;
    border-radius: 5px;
}

.progress {
    color: #e63946;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


#recipeList img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#recipeList article {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ff4d4d;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

#recipeA, #recipeB{
    background-color: #ff4d4d;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: bold;
    background-color: #ff4d4d;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#recipeA:hover, #recipeB:hover{
    background-color: #cc0000;

}

footer {
    background-color: #ff4d4d;
    color:white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: auto;
}
